<ion-header>
  <ion-toolbar color="danger">
    <ion-title>Sushi Welcome</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div style="text-align: center; margin-top: 50px;">
    <h2>Benvenuto al Sushi</h2>
    <p>Inserisci i tuoi dati per ordinare</p>
    
    <ion-item>
      <ion-label position="floating">Numero Tavolo</ion-label>
      <ion-input [(ngModel)]="tableNumber" type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Tuo Nome</ion-label>
      <ion-input [(ngModel)]="userName" type="text"></ion-input>
    </ion-item>

    <ion-button expand="block" color="danger" (click)="login()" style="margin-top: 20px;">
      Entra nel Menù
    </ion-button>
  </div>
</ion-content>